@use 'fonts';

$primary-color: #ffffff;
$secondary-color: #1D2D4A;
$body-color: #161A30;
$accent-color: #6528F7;
$body-text-color: #1D2D4A;
$heading-font-family: 'montserratsemibold', helvetica, arial, sans-serif;
$body-font-family: 'montserratmedium', arial, sans-serif;
$small-font-size: 8px;
$base-font-size: 18px;
$base-font-weight: 400;
$bold-font-weight: 600;
$light-font-weight: 200;