@use '../abstracts/variables' as v;

main {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
}

body {
    background-color: #161A30;
}

.img1 {
    grid-column: span 2;
}

.container-hero {
    display: grid;
    padding-left: 18%;
    max-width: 1366px;
    height: fit-content;
    margin: auto;
    margin-top: 20%;
}

.photo-gallery {
    display: flex;
    gap: 20px;
    width: 80%;

    .photo-gallery img {
        width: 298px;
        height: 290px;
        border-radius: 5px;
        object-fit: cover;
    }
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo {
    display: flex;
    gap: 20px;
}

.photo img {
    width: 298px;
    height: 290px;
    border-radius: 5px;
    object-fit: cover;
}

#auto-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: 300px;
    grid-auto-flow: dense;
}

@media screen and (min-width: 768px) {
    .photo-gallery {
        flex-direction: column;
    }

    .column {
        display: flex;
        flex-direction: column;
        gap: 36px;
        position: relative;
        top: 90px;
    }
}