/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

.footer-logo {
  position: relative;
  justify-content: center;
  display: flex;
}


.footer-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.footer-socialmedia {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: #fff;
  padding-top: 25px;
}

.footer-socialmedia a{
  background: #3137e6;
  border-radius: 12px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  color: #fff;
}

.copyright{
  width: 100%;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 120px) and (max-width: 299px) {
  .footer-logo {
    position: relative;
    justify-content: center;
    top: 15px;
    display: flex;
    width: 85%;
  }
}

@media screen and (min-width: 300px) and (max-width: 1199px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .footer-logo {
    position: relative;
    justify-content: center;
    top: 15px;
    left: 335px;
    display: flex;
    width: 15%;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,

  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    position: relative;
    justify-content: center;
    top: 5px;
    left: 540px;
    display: flex;
    width: 12%;
  }
}