@use '../abstracts/variables' as v;

/* this for the desktop NAV */
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 35vh;
}

.nav-links {
  gap: 2rem;
  font-weight: 500;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: v.$secondary-color;
  background-color: v.$primary-color;
  text-decoration: wavy;
  padding: 20px;
  text-decoration-color: rgb(181, 181, 181);
  border-radius: 2rem;
  font-weight: 800;
}

.logo {
  max-width: 100%;
}

.logo:hover {
  cursor: default;
}

#headline-container {
  display: flex;
  position: relative;
  justify-content: center;
  height: 10vh;
}

.headline-tag {
  font-family: v.$heading-font-family;
  font-weight: 300;
  color: aliceblue;
  align-items: center;
}

.headline-tag:hover {
  cursor: pointer;
  font-size: 2em;
  font-weight: 800;
}


#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}


@media screen and (min-width: 1200px) {
  #desktop-nav {
    display: flex;
  }

  .logo {
    position: relative;
    top: 300px;
    max-width: 80%;
  }

  .logo img {
    position: relative;
    top: -290px;
    max-width: 100%;
    left: 100px;
  }

  .nav-links {
    display: flex;
    position: relative;
    justify-content: center;
  }

}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #desktop-nav {
    display: flex;
  }

  .logo {
    position: relative;
    max-width: 80%;
  }

  .logo img {
    position: relative;
    max-width: 75%;
    left: 100px;
  }

  .nav-links {
    display: flex;
    position: relative;
    justify-content: center;
  }
}

@media screen and (min-width: 300px) and (max-width: 767px){

  nav {
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  }


  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    top: 100px;
    text-align: center;
    position: relative;
    justify-content: center;
    left: -100px;
    align-items: center;
    padding: 14px 16px;
  }

  .nav-links li a {
    font-size: 1.3rem;
  }

  .logo {
    position: relative;
    justify-content: center;
  }

  .logo img {
    position: relative;
    max-width: 100%;
    left: 190px;
  }

  #headline-container {
    display: flex;
    position: relative;
    justify-content: center;
    padding-left: 50px;
  }
  
  .headline-tag {
    font-family: v.$heading-font-family;
    font-weight: 300;
    color: aliceblue;
    align-items: center;
  }
  
  .headline-tag:hover {
    cursor: pointer;
    font-size: 2em;
    font-weight: 800;
  }

}