/* breakpoints */

$breakpoints: (
  sm: 375px,
  md: 768px,
  lg: 1366px,
);

@mixin respond-to($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

.hide-extra-small {
  @include respond-to(sm) {
    display: none;
  }
}

.hide-extra-large {
    @include respond-to(lg) {
      display: none;
    }
}

